# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Reports (optional)
reports/*.pdf
reports/*.xlsx

# Streamlit cache
.streamlit/

# Local SQLite databases
database/*.db
database/*.sqlite
database/*.sqlite3

database/*
!database/.gitkeep